services:
  postgres:
    image: postgis/postgis:16-3.4
    container_name: baegopang-postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: baegopang
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata: